body{
    background-position: center;
    background-size: cover ;
}

a
{
    font-size: 20px;
    width:400px;
    border-radius: 30px;
    background-color: lightgreen;
    color:red;
}
